@charset "utf-8";
h2{
	font-family: Palatino Linotype;
}
.valor{
	font-family: Courier New;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.confirmar{
	width: 100%;
	position: fixed;
	margin: auto;
	bottom:0;
}
.max{
	max-width: 100px;
}
